<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car</title>
    <style>
      /* Add your CSS styles here */
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      h1,
      h2 {
        color: #333;
      }
      .button-container {
        margin-top: 20px;
      }
      .signin-button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>DriveHub - Car</h1>
    </header>

    <main>
      <h2>Cars:</h2>
      <h3><%= car.make %> <%= car.model %> (<%= car.year %>) <%= car.color %> <%= car.price %> <%= car.description %> <%= car.availability %></h1>
    </main>

    <div class="button-container">
      <button class="signin-button" onclick="signIn()">Sign In</button>
      <button class="signin-button" onclick="home()">Home</button>
    </div>

    <script>
      function signIn() {
        window.location.href = "/auth/signin"; // Redirect to '/sign' route
      }

      function home() {
        window.location.href = "/"; // Redirect to '/' route
      }
    </script>
  </body>
</html>
